/* .flex-container {
    display:flex;
    background-color: grey;
    flex-direction: row;
    /* height: 200px; */
    /* flex-wrap: wrap;  */
    /*justify-content: center;*/
    /*align-content: space-around;*/
    /*align-items: center;*/
/* } */
/* 
.flex-container > div {
    background-color: white;
    padding: 20px;
    text-align: center;
    margin: 10px;
    width: 400px;
} */ 